@charset "utf-8";
/* CSS Document */

.h1{
  font-family:"verdana";
  font-size:1em;
  text-align:center;
}
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 2px solid #000000;
	background-color: #00BBFF;
	display: table-cell;
	padding: 3px 10px;
	font-style: normal;
	font-weight: 400;
}
.divTableHeading {
	
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color:#E8FF00;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
